<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="/"><i class="fa-solid fa-location-dot"></i></a> -->
    <a class="navbar-brand" href="/">
  <i class="fa-solid fa-location-dot flat-spin"></i>
</a>



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add New Listing</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/contact">Contact Us</a>
      
      </div>
        <div class="ms-auto">
        <a class="btnbook btn-dark text-white me-3 " href="/Book">Book Hotel</a>
      </div>
    </div>
  </div>
</nav>