  body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight:400rem;
  font-style: normal;
  display:flex;
  flex-direction:column;
  min-height: 100vh;
}
.container{
    flex:1

}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-location-dot{
    color: red;
    font-size: 2rem;
}
.nav-link {
    color:#222222 !important;

}
/*footer */
.f-info-links a:hover{
    text-decoration: none;
    color:#222222;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width:100%;
    display: flex;                                                                                                              
    align-items: center;
    justify-content: center;

}
.f-info-socials i{
    font-size:1.2rem;
    margin-right:1rem;
}

.f-info{
    text-align: center;
    height:8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}
/* cards*/
.listingcard{
    border:none  !important;
    margin-bottom:2 rem;

}
.card-img-top{
    border-radius:1rem;
    width:100% !important;   
    object-fit: cover !important;
    object-fit:cover !important;
}
.card-body{
    padding:0 !important;
}
.card-text-p{
    font-weight:400rem;
}
.listing-link{
    text-decoration: none;
}
/*cardeffect*/
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}
.btn{
    background-color: #fe424d !important;
    border:none !important;
}
.show-img{
    height: 30vh;
}
.btnbook {
  background-color: #fe424d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.btnbook:hover {
  background-color: #444; /* hover pe dark shade */
  transform: scale(1.05); /* thoda zoom */
}
.rock-spin {
  display: inline-block;
  animation: rock 1s ease-in-out infinite alternate;
  transform-origin: bottom center; /* pivots from the bottom */
}

.flat-spin {
  display: inline-block;
  animation: flatRotate 1s linear infinite;
  transform-origin: center;
}

/* @keyframes flatRotate {
  from { transform: rotateX(0deg); }
  to   { transform: rotateX(360deg); }
}
.navbar-brand {
  perspective: 800px;
} */
@keyframes flatRotate {
  from { transform: rotateY(0deg); }
  to   { transform: rotateY(360deg); }
}





